.adminPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminPosts{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    padding: 1rem 0;
    text-align: center;
  }
}