@import '../../styles/base/variables';
@import '../../styles/function/mixins';

.postFeed{
    width: 100%;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 350px);
    gap: 1rem;
}

.postCard{
    background: $black;
    color: $white;
    padding: 1rem;
    @include flex(column, center, center);
    h3{
        text-align: center;
        // background: $black;
    }
    p{
        opacity: 0.5;
    }
}