@import '../../styles/base/variables';
@import '../../styles/function/mixins';

.postFeed{
    width: 100%;
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 1rem;
}

.postCard{
    background: $black;
    color: $white;
    padding: 1rem;
    @include flex(column, space-between, center);
}

.postCardContent{
    height:70%;
    width: 100%;
    @include flex(row, center, center);
    h4{
        text-align: center;
    }
}

.postCardFooter{
    width: 100%;
    @include flex(row, space-between, center);
    a{
        color: $white;
        opacity: 0.3;
        &:hover{
            cursor: pointer;
        }
    }
}